<div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2">
        <mat-card class="example-card">
        <mat-card-header>
            <mat-card-title><h3 class="t-center">Login git</h3></mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form class="example-form">
                <div class="row p-top-30">
                    <div class="col-md-10 col-md-offset-3 col-sm-8 col-sm-offset-2">
                        <mat-form-field class="example-full-width">
                            <div class="form-group">
                                <input matInput placeholder="Email">
                            </div>
                            <!--<mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
                            Please enter a valid email address
                            </mat-error>
                            <mat-error *ngIf="emailFormControl.hasError('required')">
                            Email is <strong>required</strong>
                            </mat-error>-->
                        </mat-form-field>
                        <mat-form-field class="example-full-width">
                            <div class="form-group">
                                <input matInput placeholder="Password">
                            </div>    
                        </mat-form-field>
                    </div>
                </div>      
            </form>
        </mat-card-content>
        <mat-card-actions>
            <div class="row m-btm-30">
                <div class="col-md-12 t-center">
                    <div class="button-row">
                        <button mat-raised-button color="primary">Login</button>
                    </div>
                </div>
            </div>        
        </mat-card-actions>
        </mat-card>
    </div>   
</div>   
